<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>KayitOl</servlet-name>
        <servlet-class>controller.KayitOl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GirisYap</servlet-name>
        <servlet-class>controller.GirisYap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogKaydet</servlet-name>
        <servlet-class>controller.BlogKaydet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSil</servlet-name>
        <servlet-class>controller.BlogSil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogOnayla</servlet-name>
        <servlet-class>controller.BlogOnayla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SifreDegistir</servlet-name>
        <servlet-class>controller.SifreDegistir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KayitOl</servlet-name>
        <url-pattern>/KayitOl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GirisYap</servlet-name>
        <url-pattern>/GirisYap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogKaydet</servlet-name>
        <url-pattern>/BlogKaydet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <multipart-config>
            <max-file-size>3145728</max-file-size>
            <max-request-size>5242880</max-request-size>
        </multipart-config>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogSil</servlet-name>
        <url-pattern>/BlogSil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogOnayla</servlet-name>
        <url-pattern>/BlogOnayla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SifreDegistir</servlet-name>
        <url-pattern>/SifreDegistir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
